IDDF-validate/IDDF-doc.nvdl

<?xml version="1.0" encoding="UTF-8"?>
<rules xmlns="http://purl.oclc.org/dsdl/nvdl/ns/structure/1.0"
    xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" startMode="main">
    
    <trigger ns="http://languagelink.let.uu.nl/tds/ns/iddf" nameList="data"/>
    
    <mode name="main">
        <namespace ns="http://www.w3.org/1999/xhtml">
            <validate schema="IDDF-xhtml.rng" useMode="iddf"/>
        </namespace>
        <namespace ns="http://languagelink.let.uu.nl/tds/ns/iddf">
            <validate message="IDDF main root" schema="IDDF-doc.rng">
                <context path="data" useMode="data"/>
            </validate>
        </namespace>
    </mode>
    
    <mode name="iddf">
        <namespace ns="http://languagelink.let.uu.nl/tds/ns/iddf">
            <unwrap/>
        </namespace>
        <namespace ns="http://www.w3.org/1999/xhtml">
            <allow/>
        </namespace>
    </mode>
    
    <mode name="data">
        <anyNamespace>
            <allow/>
        </anyNamespace>
    </mode>

</rules>